<h1>Listing Quizzes</h1>

<table>
  <thead>
    <tr>
      <th>Field</th>
      <th>Cat</th>
      <th>Question</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <% @category = Category.find_by(quiz.category_id) %>
      <% @field = Field.find_by(quiz.field_id) %>
      <tr>
        <td><%= @field.name %></td>
        <td><%= @category.name %></td>
        <td><%= quiz.question %></td>
        <td><%= quiz.answer %></td>
        <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
        <td><%= link_to 'Delete', quiz, method: :delete, data: { confirm: 'You Sure?' } %></td>
      </tr>
    <% end %>
  <tr>
    <td><%= link_to 'New Quiz', new_quiz_path %></td>
  </tr>
  </tbody>
</table>

<br>


