<div class="entry">
  <p>
    <h1><%= @quiz.question %></h1>
  </p>

  <p>
    <h2 class="answer"><%= @quiz.answer %></h2>
    <%= button_tag "Show", :id => "show_answer" %>
  </p>

  <p>
    <table>
      <tr>
        <td><%= link_to "Correct", correct_quiz_path(@quiz) %></td>
        <td><%= link_to "Wrong", wrong_quiz_path(@quiz) %></td>
      </tr>
    </table>
  </p>

</div>
